.text-effect {
    color: transparent;
    -webkit-text-stroke: 2px white; 
    background: linear-gradient(to top, white 40%, transparent 50%);
    -webkit-background-clip: text;
    background-clip: text;
    mix-blend-mode:normal;
}