@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dharma Gothic C";
  src: url("./fonts/DharmaGothicC.woff") format("woff");
}
.dharma-gothic-c {
  font-family: "Dharma Gothic C", sans-serif;
} 